	
	body {
	    font-size: 1.3rem;		    
	}
	.home{
		background-image: url('1.jpg');
	    min-height: 100vh;
	    z-index: -10;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
		padding-bottom: 70px;
	}
	.topnav {
	    background-color: #333;
	    overflow: hidden;
	}
	.topnav a {
	    float: left;
	    color: #f2f2f2;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	    font-size: 17px;
	}
	.topnav a:hover {
	    background-color: #ddd;
	    color: black;
	}
	.topnav a.active {
	    background-color: blue;
	    color: white;
	}
	.nav-tabs{
		border:0;
	}
	@media(max-width: 768px){
		ul.nav.nav-tabs.nav-justified {
    		display: inline-table;
		}
		.topnav{
			text-align: center;
		}
	}
	.title{
		margin-left: 8%;
	}
	.row{
		margin: 0;
	}
	#text{
		width: 100%;
		height: 45px;
		border: 1px solid #000;
		margin-bottom: 5rem;
		margin-top: 3px;
		font-size: 22px;
		opacity: .8;
	}
	#date{
		height: 45px;
		width: 80%;
		font-size: 18px;
		border: 1px solid #000;
		opacity: .8;
		margin-top: 3px;
		text-align: center;		
	}
	#btn{
		width: 80px;
		height: 45px;
		background-color: #1874CD;
		cursor: pointer;
		outline: none;
		border: 1px solid #000;
		color: #fff;	
		font-weight: 900;
		font-size: 20px;
		padding-bottom: 5px;
		padding-top: 5px;
		margin-top: 3px;
		margin-left: -45px;
	}
	#btn:active {
		  background-color: #189ccd;
		  box-shadow: 1px 1px #666;
		  transform: translateY(2px);
	}
	#btn:hover{
		background-color: #189ccd;
		transition: background-color 1s;
	}
	@media(max-width: 768px){
		.title{
			margin-left: 0;
		}
		#text{
			margin-bottom: 20px;
		}
		#btn{
			margin-bottom: 70px;
			margin-top: 20px;
			width: 100%;
			margin-left: 0;
		}
		#date{
			width: 100%;
		}
	}
	li{
		list-style: none;
	}
	table {
	    border-collapse: collapse;
	    width: 100%;
	    border: 1px solid #000;
	}
	td, th {
	    border: 1px solid #dddddd;
	    text-align: center;
	    padding: 8px;
	    border: 1px solid #000;
	}
	.selected {
	    background: #1874CD !important;
    }
    .selected td:nth-child(1){
		color: #000;
	}
	.selected td:nth-child(2){
		text-decoration: line-through;
		color: #000;
	}
	.selected td:nth-child(3){
		color: #000;
	}
    tr:nth-child(even) {
    	background: #EEEEEE;
    	opacity: .9;
    	color: #000;
    }
    tr:nth-child(odd) {
    	background: #e4e4e4;
    	opacity: .9;
    	color: #000;
    }
	td:nth-child(2) {
    	text-align: left;
    	width: 65%;
    }
    td:nth-child(3){
    	min-width: 100px;
    }
    th:nth-child(1), td:nth-child(1){
    	width: 110px;
    }
    th:nth-child(4), td:nth-child(4){
    	width: 120px;
    }
    th:nth-child(4){
    	border-bottom: 0;
    }
    td:nth-child(4){
    	display: flex;
    	border-left: 0;
    	border-right: 0;
    	border-bottom: 0;
    	margin: 0 auto;
    }
    td:nth-child(4) button {
    	font-weight: 900;
    	font-size: 30px;
    	text-align: center;
    	border: 0;
    	cursor: pointer;
    	background: none;
    	margin-top: 5px;
    }
    td:nth-child(4) button:hover {
    	background-color: #fff;
    	width: 55%;
    	color: red;
    	transition: background-color 1s;
    	border-radius: 50%;
    }
    .lead {
		margin-bottom: 3rem;
		padding-bottom: 0px;
		font-family: var(--righteous-font);
		text-align: center;
		font-size: 5.5rem;
		font-weight: 700;
		color: #fff;
		padding-top: 40px;
	}
	.today td:nth-child(1), .today td:nth-child(2), .today td:nth-child(3){
		color: red;
	}
	.past{
		color: gray !important;
	}
	.undo{
		background: #ffa500 !important;
	}

	@media (max-width: 768px){

		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		.container{
			padding: 0;
		}
		
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		td, th { 
 		 	padding: 6px; 
 	 		text-align: left; 
		}
		td:nth-child(1) {
    		display: inline;
    	}
    	td:nth-child(4) {
    		margin-left: -12%;
    		display: inline;    	
    	}
		
		tr { border: 1px solid #ccc; }
		
		td { 
			border: none; 
			position: relative;
			padding-left: 50%; 
		}
		
		td:before { 
			position: absolute;
			top: 6px;
			left: 6px;
			width: 45%;  
		}
		td:nth-child(4) button:hover {
	    	width: 13%;
	    	padding: 0;
    	}
    	td:nth-child(4) button {
    		margin-bottom: 10px;
    	}

		td:nth-of-type(1):before { content: "Date/Time:"; }
		td:nth-of-type(2):before { content: "Description:"; }
		td:nth-of-type(3):before { content: "Date:"; }

	    .today td:nth-child(1), .today td:nth-child(3){
			color: #000;
		}
	}
	@media (max-width: 338px){
		td:nth-child(1) {
    		display: inline-block;
    	}
	}
	.navbar .menu{
		display: inline-block;
	}

	/* MOVIES */

	#root {
  	  max-width: 1200px;
  	  margin: 0 auto;
	}

	h1 {
	  text-align: center;
	  padding: 1.5rem 2.5rem;
	  background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
	  margin: 0 0 2rem 0;
	  font-size: 1.5rem;
	  color: white;
	}

	#root img {
	  display: block;
	  margin: 1rem auto;
	  max-width: 80%;
	}

	#root p {
	  padding: 0 2.5rem 2.5rem;
	  margin: 0;
	  color: black;
	}

	#root .container {
	  display: flex;
	  flex-wrap: wrap;
	}

	.card {
	  margin: 1rem;
	  background: white;
	  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
	  border-radius: 12px;
	  overflow: hidden;
	  transition: all .2s linear;
	}

	.card:hover {
	  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
	  transform: translate3D(0, -10px, 0);
	}

	@media screen and (min-width: 600px) {
	  .card {
	    flex: 1 1 calc(50% - 2rem);
	  }
	}

	@media screen and (min-width: 900px) {
	  .card {
	    flex: 1 1 calc(33% - 2rem);
	  }
	}

	.card:nth-child(2n) h1 {
	  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
	}

	.card:nth-child(4n) h1 {
	  background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
	}

	.card:nth-child(5n) h1 {
	  background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
	}


	/* LOADER */
	div#load_screen{
		background: #000;
		opacity: 1;
		position: fixed;
		z-index: 10;
		top: 0;
		width: 100%;
		height: 100%;
	}
	div#load_screen > div#loading{
		color: #fff;
		width: 120px;
		height: 24px;
		margin: 300px auto;
	}
	#loader{
		position: absolute;
		border: 5px solid transparent;
		border-radius: 50%;
	}
	#loader{
		width: 70px;
		height: 70px;
		border-top:5px solid azure;
		border-bottom: 5px solid azure;
		animation: clockwisespin 2s linear 3;
		top: 50%;
	}
	@keyframes clockwisespin {
		from{transform: rotate(0deg);}
		to{transform: rotate(360deg);}
	}

	/* WEATHER */

	button#weather{
		position: absolute;
	    top: 15%;
	    left: 44%;
	    border-radius: 4px;
		background-color: blue;
		border: none;
		color: #FFFFFF;
		text-align: center;
		font-size: 25px;
		padding: 10px;
		transition: all 0.5s;
		cursor: pointer;
		margin: 5px;
	}

	.wrapper {
   		text-align: center;
	}
	.weather{
		display: flex;
  		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: center;
		margin-top: 10%;
	}
	.weather .bold{
		font-weight: bold;
		font-size: 18px;
	}
	.weather p{
		font-family: initial;
	}
	.weather-img{
		width: 10%;
	}
	.weather-description{
		font-size: 18px;
		width: 100%;
	}
	
	@media (max-width: 768px){
		button#weather{
			width: 100%;
			top: 40%;
			left: 0;
			margin: 0;
			padding-left: 0;
		}
		.weather{
			margin-top: 20%;
			left: 0%;
			width: 100%;
		}
	}

	/* LIST */

	button#list{
		position: absolute;
	    top: 15%;
	    left: 44%;
	    border-radius: 4px;
		background-color: blue;
		border: none;
		color: #FFFFFF;
		text-align: center;
		font-size: 25px;
		padding: 10px;
		transition: all 0.5s;
		cursor: pointer;
		margin: 5px;
	}
	.list1{
		margin-top: 10%;
		margin-left: 43%;
		text-align: left;
	}
	.list1 h2{
		margin-left: 80px;
	}
	.list1 .date{
		margin-left: 50px;
	}
	@media (max-width: 768px){
		button#list{
			width: 100%;
			top: 40%;
			left: 0;
			margin: 0;
			padding-left: 0;
		}
		#show-list{
			margin-top: 100px;
		}
		.list1{
			margin-left: 80px;
		}
	}